################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SampleXppExtensions/Projects/FastTrackFscmTelemetrySamples/.vs
/SampleXppExtensions/Projects/FastTrackFscmTelemetrySamples/Order2Cash/obj/Debug
/.vs
